<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Now Playing...</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/favicon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="background-effects"></div>

    <main class="player-page">
        <a href="/" class="back-button">
            < НАЗАД К МЕДИАТЕКЕ</a>

                <div class="player-container" id="player-container">
                    <div class="loading-state">
                        <h2>ЗАГРУЗКА ДАННЫХ...</h2>
                        <div class="loader"></div>
                    </div>
                </div>

                <audio id="audio-player"></audio>
    </main>

    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
</body>

</html>